@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en" ng-app="HeroicCRM">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>@ViewBag.Title - Heroic CRM</title>
	@Styles.Render("~/css/all.css")
	@RenderSection("Styles", required: false)
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<div id="wrapper" ng-cloak>
		@Html.Partial("_Navigation")
		<div id="page-wrapper">
			<div class="container-fluid">
				@RenderBody()
			</div>
		</div>
		<!-- /#page-wrapper -->
	</div>
	<!-- /#wrapper -->
	@Scripts.Render("~/js/all.js")
	@RenderSection("Scripts", required: false)
</body>
</html>

@* This is based on the (excellent) SB Admin: http://startbootstrap.com/template-overviews/sb-admin/ *@